input{
  outline: none; 
  margin-left: 10; 
  font: 16px Roboto; 
  height: 33; 
  border: none; 
  padding: 0px 0px 0px 5px; 
  border-radius: 5px; 
  background: #e0e0e0;
}

label{
  font: 16px Roboto;
}

.container {
  display: flex; 
  align-items: flex-start; 
  justify-content: center; 
  height: 100%; 
  width: 100%;
}

.form{
  margin-top: 40px;
}

.btn{
  height:33px;
  width: 100px;
  background: #6b30ab;
  border: none;
  color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font: 14px Roboto; 
  font-weight: 500;
  margin-left: 6px;
}

.btn:hover{
  background: #532882;
  transition: 1s;
}